@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right, rgb(230, 180, 42), #000000);
    padding: 167px;
}

.main-calculator {
    background-color: orange;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.219);
    font-family: Poppins, Helvetica, sans-serif;
    border: none solid black;
    height: 589px;
    width: 415px;
    padding: 30px;
}

.calculator-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    padding-bottom: 30px;
}

.calculator-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    font-size: 20px;
}

.calculator-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 19px;
}

.calculator-input {
    border-radius: 10px;
    width: 216px;
    height: 36px;
}

.calculator-button {
    font-size: 18px;
    font-weight: 600;
    color: orange;
    background-color: black;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.219);
    border-radius: 18px;
    width: 329px;
    height: 45px;
    margin-bottom: 15px;
}

#calculator-result {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: orange;
    background-color: black;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.219);
    border-radius: 18px;
    height: 164px;
    width: 334px;
    padding: 30px;
}



