@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    overflow: hidden;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px;
}

.main-calculator {
    background-color: orange;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.219);
    font-family: Poppins, Helvetica, sans-serif;
    border: 1px solid black;
    height: 682px;
    width: 415px;
    padding: 30px;
}

.calculator-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    padding-bottom: 30px;
}

.calculator-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.calculator-data {
    display: flex;
    flex-direction: row;
    font-size: 22px;
}

.calculator-input {
    border-radius: 10px;
    width: 170px;
    height: 50px;
}

.calculator-button {
    font-size: 18px;
    font-weight: 600;
    color: orange;
    background-color: black;
    width: 250px;
    height: 45px;
}

.calculator-result {
    display: flex;
    ali
    font-size: 20px;
}



